<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
  {% if page.use_math %}
    {% include mathjax_support.html %}
  {% endif %}
</head>

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<!-- 링크 보냈을 때
    해당 게시물에 사진이 없을 경우
    아래 사진으로 배경이 올라갑니다.
-->
<img src="/img/avatar_me.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
